@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&display=swap");
:root {
  --Dark-cyan: hsl(185, 75%, 39%);
  --Very-dark-desaturated-blue: hsl(229, 23%, 23%);
  --Dark-grayish-blue: hsl(227, 10%, 46%);
  --Dark-gray: hsl(0, 0%, 59%);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-image: url("images/bg-pattern-top.svg"),
    url("images/bg-pattern-bottom.svg");
  background-repeat: no-repeat, no-repeat;
  /* background-position: right 48vw bottom 40vh, left 45vw top 44vh; */
  background-position: calc(100% - 48vw) calc(100% - 40vh), 45vw 44vh;
  background-color: var(--Dark-cyan);
  font-family: "Kumbh Sans", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  width: 350px;
  height: 400px;
  text-align: center;
  position: relative;
  border-radius: 2rem;
  -webkit-border-radius: 2rem;
  -moz-border-radius: 2rem;
  -ms-border-radius: 2rem;
  -o-border-radius: 2rem;
  box-shadow: 0 10px 4px 5px rgba(0, 0, 0, 0.1);
}
.up {
  width: 100%;
  height: 40%;
  background: url("images/bg-pattern-card.svg");
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

img {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  border: 4px solid white;
}
.text {
  padding-top: 4rem;
  padding-bottom: 1.5rem;
}
.text p {
  margin-top: 10px;
  color: var(--Dark-gray);
}
span,
h4 {
  font-weight: bold;
  color: var(--Very-dark-desaturated-blue);
}
.down {
  background-color: white;
  height: 60%;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.numbers {
  border-top: 0.5px solid var(--Dark-gray);
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 40%;
  padding: 0.5rem;
  margin-bottom: 20px;
}
.numbers p {
  color: var(--Dark-gray);
  font-size: 10px;
  letter-spacing: 2px;
  margin-top: 5px;
}


